---
---

@import "bootstrap";

body {
  padding-top: 70px;
  text-align: justify;
}

#homeid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.team-member-card {
  display: flex;
  flex-direction: column;
}

.card-body {
  text-align: left
}

@media (max-width: 768px) {
  .faculty-card {
    margin: 40px 0 !important;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-member-content {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .team-member-content div {
    padding: 10px 0 !important;
  }

  .card-body {
    text-align: center
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px; /* or 950px */
}

/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  margin: 22px 0;
}

a {
  color: #7F0824;
}

a:hover {
  color: #7F0824;
  text-decoration: underline;
  text-decoration-color: #7F0824;
}
