<div id="footer" class="panel" style="margin-bottom: 0; margin-top: 32px; border-width: 4px 1px 0px 1px">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/korea-univ.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-6">
				<p><strong>{{ site.title }}</strong></p>
				<p style="margin: 3.2px 0">Dept. of Computer Science & Engineering</p>
				<p style="margin: 3.2px 0">College of Informatics</p>
				<p style="margin: 3.2px 0">Korea University</p>
			</div>

			<div class="col-sm-4">
				<p style="margin: 3.2px 0; text-align: left; text-wrap-style: pretty">Woojung Hall of Informatics #602</p>
				<p style="margin: 3.2px 0; text-align: left; text-wrap-style: pretty">145 Anam-ro, Seongbuk-gu, Seoul, Korea</p>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
